# NOTE TO CONTRIBUTORS: Please use == dependencies for explicit version tracking 

# Spoil the programmers
termcolor
tqdm>=4.8.4

# Project AiAi core reqs
numpy
scipy
pandas>=0.18.1
scikit_learn==0.17.1
xgboost==0.6
rep==0.6.6
TPOT==0.6.4
Keras==1.1.0
